<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>VVMC</title>
</head>
<body>
  <header>
    <img.logo src="./logo.png" alt="marko logo"/>
    <h1><include(input.title)/></h1>
    <nav.menu>
      <a href="/">home</a>
      <a href="/clubs">clubs</a>
      <a href="/matches">matches</a>
    </nav>
  </header>
  <div.content>
    <include(input.content)/>
  </div>
  </body>
</html>
