$ var matches = component.matches;

style {
	.match {
		padding-bottom: 0.3em;
	}
}

<div.list-matches>
	<for(match in matches)>
			<div.match on-click('onMatchClick',match)> ~$&nbsp;&nbsp; ${match};</div>
	</for>
</div>
	